<div class="sprint">

	<!-- Show task each user -->
	<div class="row">
	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-heading bg-steel"><i class="fa fa-play"></i> To-Do<span class="pull-right">[{{lists.todo.data.length}}/{{lists.todo.max}}]</span></div>
			<div class="panel-body">
				<ul dnd-list="lists.todo.data"
					dnd-disable-if="lists.todo.data.length >= lists.todo.max">
				    <li ng-repeat="item in lists.todo.data"
				    	class="vertical bl-{{item.prior|pColor}}" 
				        dnd-draggable="item"
				        dnd-moved="lists.todo.data.splice($index,1)"
				        dnd-effect-allowed="move"
				        dnd-selected="lists.selected = item"
				        ng-class="{'selected': lists.selected === item}"
				        >
				        ({{item.user}}) {{item.name}}
				    </li>
				</ul>

			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-heading bg-orange"><i class="fa fa-forward"></i> In Progress <span class="pull-right">[{{lists.doing.data.length}}/{{lists.doing.max}}]</span></div>
			<div class="panel-body">
				<ul dnd-list="lists.doing.data"
					dnd-disable-if="lists.doing.data.length >= lists.doing.max">
				    <li ng-repeat="item in lists.doing.data"
				    	class="vertical bl-{{item.prior|pColor}}" 
				        dnd-draggable="item"
				        dnd-moved="lists.doing.data.splice($index,1)"
				        dnd-effect-allowed="move"
				        dnd-selected="lists.selected = item"
				        ng-class="{'selected': lists.selected === item}"
				        >
				        ({{item.user}}) {{item.name}}
				    </li>
				</ul>

			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-heading bg-blue"><i class="fa fa-repeat"></i> Review<span class="pull-right">[{{lists.test.data.length}}/{{lists.test.max}}]</span></div>
			<div class="panel-body">
				<ul dnd-list="lists.test.data"
					dnd-disable-if="lists.test.data.length >= lists.test.max">
				    <li ng-repeat="item in lists.test.data"
				    	class="vertical bl-{{item.prior|pColor}}" 
				        dnd-draggable="item"
				        dnd-moved="lists.test.data.splice($index, 1)"
				        dnd-effect-allowed="move"
				        dnd-selected="lists.selected = item"
				        ng-class="{'selected': lists.selected === item}"
				        >
				        ({{item.user}}) {{item.name}}
				    </li>
				</ul>

			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div class="panel">
			<div class="panel-heading bg-green"><i class="fa fa-stop"></i> Done <span class="pull-right">[{{lists.done.data.length}}/{{lists.done.max}}]</span></div>
			<div class="panel-body">
				<ul dnd-list="lists.done.data"
					dnd-disable-if="lists.done.data.length >= lists.done.max">
				    <li ng-repeat="item in lists.done.data"
				    	class="vertical bl-{{item.prior|pColor}}" 
				        dnd-draggable="item"
				        dnd-moved="lists.done.data.splice($index, 1)"
				        dnd-effect-allowed="move"
				        dnd-selected="lists.selected = item"
				        ng-class="{'selected': lists.selected === item}"
				        >
				        ({{item.user}}) {{item.name}}
				    </li>
				</ul>

			</div>
		</div>
	</div>
	</div>
</div>

<div ui-view></div>

<!-- Show if user administrator / customer -->
<footer class="navbar navbar-fixed-bottom container-fluid" >
	<div class="row">
		<div class="col-xs-12">
		<a class="btn btn-primary pull-right col-sm-2" ng-click="botMenu = !botMenu">
	        <span class="fa fa-check-square-o"></span> Backlog
	    </a>
	    </div>
	</div>
	<div class="row collapse" collapse="!botMenu">
		<div class="col-sm-4">
			<div class="panel">
				<div class="panel-heading bg-teal"><i class="fa fa-gamepad"></i> Fresh Idea 
				<span class="pull-right">
					<a class="btn btn-default btn-sm btn-panel" ng-click="submitCard(textarea)"><i class="fa fa-plus-square"></i> Add</a>
				</span>
				</div>
				<div class="panel-body">
				<div class="col-xs-8">
					<textarea class="form-control textarea" ng-model="textarea" rows="3" placeholder="Write your thoughts here..."></textarea>
				</div>
				<div class="col-xs-4">
		        <img src="assets/img/user_trash.png" class="trash pull-right" dnd-list="[]" dnd-drop="removeCard(event, index, item, external, type, 'containerType')">
				</div>
				</div>
			</div>
		</div>
		<div class="col-sm-8">
			<div class="panel">
				<div class="panel-heading bg-mauve"><i class="fa fa-music"></i> &nbsp Wish list <span class="pull-right">[{{lists.wish.data.length}}/{{lists.wish.max}}]</span></div>
				<div class="panel-body backlog">
					<ul dnd-list="lists.wish.data"
						dnd-disable-if="lists.wish.data.length >= lists.wish.max">
					    <li ng-repeat="item in lists.wish.data"
					    	class="horizontal bl-{{item.prior|pColor}}" 
					        dnd-draggable="item"
					        dnd-moved="lists.wish.data.splice($index, 1)"
					        dnd-effect-allowed="move"
					        dnd-selected="lists.selected = item"
					        ng-class="{'selected': lists.selected === item}"
					        >
					        ({{item.user}}) {{item.name}}
					    </li>
					</ul>

				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End of show if user administrator / customer -->
